{{ define "main"}}
<div class="glue-page gmt-6 gmb-4 markdown">
  <div class="glue-grid">
    <div class="col-span-4 sm:col-span-12 md:col-span-10 md:col-start-2">
      <h1 class="headline2 md:text-center mb-5 md:mb-16">
        <div class="eyebrow">{{ .Params.eyebrow }}</div>
        {{ .Title }}
      </h1>
    </div>
  </div>
  <div class="glue-grid">
    <div class="col-span-4 sm:col-span-12 md:col-span-8 md:col-start-3">
      <article id="content" class="gmb-7">
        {{ .Content }}
      </article>
    </div>
  </div>
</div>
{{end}}
