#site-header {
  position: fixed;
	height: 64px;
	top: 0;
  transition: all .3s ease;
}
#site-header.hide {
  top: -64px;
}

.nav {
  @apply overflow-hidden;
  max-height: 0;
  // mobile menu (vertical list of items)
  @apply absolute w-full;
  top: 4rem;
  right: 0;
  @media (min-width: 1024px) { // desktop menu (horizontal list of items)
    @apply static;
    max-height: 100%;
  }
  a {
    @apply py-2;
    // mobile menu (vertical list of items)
    @apply block w-full;
    @media (min-width: 1024px) { // desktop menu (horizontal list of items)
      @apply inline-block w-auto pr-0;
    }
  }
}

#burger-check:checked ~ div>nav {
  max-height: 500px;
}
