<li class="reference-card-list-item">
  <a href="{{ relURL .url }}" class="text-Grey-700 gpt-4 gpb-4 block link-arrow-a-tag reference-link">
    <div class="glue-grid grids-col-4 sm:grid-cols-10">
      <div class="col-span-3 sm:col-span-8">
        <h3 class="headline5 gmb-1 font-meidum">
          {{ .title }}
          <span class="inline-block align-baseline logo-icon pl-2" style="height: 5px;">{{ partial "book-icon.svg" .}}</span>
        </h3>
        <p>
          {{ .description }}
        </p>
      </div>
      <div class="col-span-1 sm:col-span-2 sm:col-span-2 flex items-center justify-center">
        <div class="link-arrow-svg text-Blue-600">
          {{ partial "right-arrow.svg" . }}
        </div>
      </div>
    </div>
  </a>
</li>
